extends layout

block content
  // Section
  section.py-5
    .container
      #main_map
    .container.px-4.px-lg-5.mt-5
      .row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
  
  each bici in  bicis
    input(type="hidden", lat=bici.location[0], lon=bici.location[0])


  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')
  // Core theme JS
  script(src='js/scripts.js')
